<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.time.mapper.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.example.time.pojo.Plan" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="blanck_space_three" property="blanckSpaceThree" jdbcType="VARCHAR" />
    <result column="blanck_space_two" property="blanckSpaceTwo" jdbcType="VARCHAR" />
    <result column="blanck_space_one" property="blanckSpaceOne" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, blanck_space_three, blanck_space_two, blanck_space_one, status, time, title, 
    user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.time.pojo.PlanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from plan
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from plan
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.time.pojo.PlanExample" >
    delete from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.time.pojo.Plan" >
    insert into plan (id, blanck_space_three, blanck_space_two, 
      blanck_space_one, status, time, 
      title, user_id)
    values (#{id,jdbcType=BIGINT}, #{blanckSpaceThree,jdbcType=VARCHAR}, #{blanckSpaceTwo,jdbcType=VARCHAR}, 
      #{blanckSpaceOne,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.time.pojo.Plan" >
    insert into plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blanckSpaceThree != null" >
        blanck_space_three,
      </if>
      <if test="blanckSpaceTwo != null" >
        blanck_space_two,
      </if>
      <if test="blanckSpaceOne != null" >
        blanck_space_one,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="blanckSpaceThree != null" >
        #{blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceTwo != null" >
        #{blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceOne != null" >
        #{blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.time.pojo.PlanExample" resultType="java.lang.Integer" >
    select count(*) from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plan
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.blanckSpaceThree != null" >
        blanck_space_three = #{record.blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceTwo != null" >
        blanck_space_two = #{record.blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceOne != null" >
        blanck_space_one = #{record.blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plan
    set id = #{record.id,jdbcType=BIGINT},
      blanck_space_three = #{record.blanckSpaceThree,jdbcType=VARCHAR},
      blanck_space_two = #{record.blanckSpaceTwo,jdbcType=VARCHAR},
      blanck_space_one = #{record.blanckSpaceOne,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.time.pojo.Plan" >
    update plan
    <set >
      <if test="blanckSpaceThree != null" >
        blanck_space_three = #{blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceTwo != null" >
        blanck_space_two = #{blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceOne != null" >
        blanck_space_one = #{blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.time.pojo.Plan" >
    update plan
    set blanck_space_three = #{blanckSpaceThree,jdbcType=VARCHAR},
      blanck_space_two = #{blanckSpaceTwo,jdbcType=VARCHAR},
      blanck_space_one = #{blanckSpaceOne,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>